.showWeather {
    display: flex;
    align-items: center;
    width: 1400px;
}

img {
    position: left;
    width: 300px;
    height: 300px;
}
.img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 800px;
}
.temp {
    font-size: 50px;
    position: fixed;
    right: 590px;
    top: 300px;
}
.wind {
    font-size: 18px;
    position: fixed;
    right: 690px;
    top: 550px;
}
.humidity {
    font-size: 18px;
    position: fixed;
    right: 490px;
    top: 550px;
}
.weather {
    font-size: 18px;
    position: fixed;
    right: 625px;
}
.cityName {
    font-size: 18px;
    position: fixed;
    right: 650px;
    transform: translateX(50%);
    top: 500px;
}
